/*reset*/
* {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
  color: #565656;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
body {
  font-size: 16px;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: none;
}
.yd-txt-rt {
  text-align: right;
}
.yd-txt-lt {
  text-align: left;
}
.yd-txt-center {
  text-align: center;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.yd-clearfix:before,
.yd-clearfix:after {
  content: " ";
  display: table;
}
.yd-clearfix:after {
  clear: both;
}
.yd-float-rt {
  float: right;
}
.yd-float-lt {
  float: left;
}
.yd-pos-relative {
  position: relative;
}
.yd-pos-absolute {
  position: absolute;
}
.yd-vertical-base {
  vertical-align: baseline;
}
.yd-vertical-top {
  vertical-align: top;
}
/*main*/
.yd-s-d-icon {
  background: url(../images/nie/servicedetailiconlist.png) no-repeat;
}
.yd-icon-share {
  height: .27rem;
  width: .24rem;
  background-position: 0 0;
}
.yd-icon-qq {
  height: .29rem;
  width: .28rem;
  background-position: 0 -27rem;
}
.yd-icon-star-empty {
  height: .29rem;
  width: .30rem;
  background-position: 0 -56rem;
}
.yd-icon-shop {
  height: .29rem;
  width: .36rem;
  background-position: 0 -0.85rem;
}
.yd-header-slider {
  display: block;
  width: 100%;
  height: 6.43rem;
  overflow: hidden;
  background-image: url(../images/nie/banner_bg.png);
}
.yd-btn-previous-page {
  position: absolute;
  top: .3rem;
  left: .2rem;
  z-index: 666;
  display: inline-block;
  width: .6rem;
  height: .6rem;
  line-height: .6rem;
  border-radius: 50%;
  color: #fff;
  font-size: .23rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.3) url(../images/nie/left_arrow.png) center center no-repeat;
  -webkit-background-size: .19rem .34rem;
  background-size: .19rem .34rem;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper .yd-header-slide-item {
  display: block;
}
.yd-h-s-logo-box {
  display: block;
  height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .3rem;
  background-image: url(../images/demo_img/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.6rem 1.5rem;
}
.yd-h-s-ad-text-top {
  margin-bottom: .3rem;
  font-size: .6944rem;
  color: #af4ea4;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  text-align: center;
}
.yd-h-s-ad-text-mid {
  width: 4.8rem;
  margin: 0 auto;
  border-top: 1px dashed #e60012;
  border-bottom: 1px dashed #e60012;
  padding: .21rem 0;
  font-size: .1941rem;
  color: #af4ea4;
  font-weight: 700;
  text-align: center;
}
.yd-btn {
  display: inline-block;
  width: 2.92rem;
  height: 0.61rem;
  line-height: 0.61rem;
  border-radius: 0.31rem;
  font-size: 0.1941rem;
  color: #fff;
  font-weight: 700;
  background-color: #af4ea4;
  text-align: center;
}
.yd-s-h-btn-box {
  margin-top: .39rem;
  margin-bottom: .85rem;
  text-align: center;
}
.swiper-container {
  max-width: 100%;
  max-height: 100%;
}
.swiper-pagination-bullet {
  width: .2rem;
  height: .2rem;
  display: inline-block;
  margin-top: .45rem;
  margin-bottom: .2rem;
  margin-right: .1rem;
  border-radius: 100%;
  background-color: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.swiper-pagination-bullet-active {
  background-color: #e8a3a8;
  border: none;
}
.yd-sec {
  margin-bottom: .2rem;
  background-color: #ffffff;
}
.yd-service-box {
  padding: .2rem .2rem .23rem .2rem;
}
.yd-service-box .yd-service-name > div:first-child {
  font-size: .3rem;
  color: #555555;
  font-weight: 700;
}
.yd-service-box .yd-service-name > div:last-child > a {
  font-size: .26rem;
  color: #555555;
}
.yd-service-box .yd-service-name > div:last-child > a > i {
  position: relative;
  top: .06rem;
  display: inline-block;
  width: .24rem;
  height: .27rem;
  margin-right: .1rem;
  background: url(../images/nie/icon_share.png) 0 0 no-repeat;
  -webkit-background-size: .24rem .27rem;
  background-size: .24rem .27rem;
}
.yd-service-box .yd-s-price {
  margin-top: .3rem;
  margin-bottom: .2rem;
  font-size: .3rem;
  color: #ff0000;
  line-height: 0.867;
  text-align: left;
}
.yd-service-box .yd-s-info div {
  font-size: .23rem;
  line-height: 1.13;
  color: #9c9c9c;
}
.yd-service-box .yd-s-info div:first-child {
  float: left;
}
.yd-service-box .yd-s-info div:last-child {
  float: right;
}
.yd-shop-info-wrapper {
  padding-top: .2rem;
  padding-left: .2rem;
  padding-right: .2rem;
}
.yd-shop-title .yd-shop-logo {
  float: left;
  width: 1rem;
  height: 1rem;
}
.yd-shop-title .yd-shop-logo > img {
  max-width: 100%;
  max-height: 100%;
}
.yd-shop-title .yd-shop-name {
  float: left;
}
.yd-shop-title .yd-shop-name > h2 {
  margin-top: .1rem;
  margin-left: .2rem;
  font-size: .23rem;
  line-height: .26rem;
  color: #555;
  font-weight: 700;
}
.yd-shop-title .yd-shop-name .yd-vip-shop {
  margin-top: .2rem;
  margin-left: .2rem;
  padding: .1rem .09rem .09rem .09rem;
  border: 1px solid #e60012;
  border-radius: .04rem;
  font-size: .23rem;
  color: #e60012;
  line-height: 1.13;
  text-align: center;
}
.yd-shop-grades {
  margin-top: .3rem;
  margin-bottom: .3rem;
}
.yd-shop-grades > li {
  float: left;
}
.yd-shop-grades li:nth-child(even) {
  width: 31.14583333%;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.yd-shop-grades li:nth-child(odd) {
  width: 31.14583333%;
}
.yd-shop-grades h4 {
  height: .72rem;
  padding-top: .23rem;
  padding-bottom: .25rem;
  font-size: .26rem;
  color: #ff0000;
  text-align: center;
}
.yd-shop-grades h3 {
  font-size: .23rem;
  color: #555555;
  line-height: 1.13;
  text-align: center;
  padding-bottom: .25rem;
}
.yd-btn-box {
  padding-bottom: .2rem;
  font-size: 0;
  -webkit-text-size-adjust: none;
  text-align: center;
}
.yd-btn-box > li {
  display: inline-block;
  margin-right: .21rem;
  font-size: .26rem;
  line-height: .26rem;
}
.yd-btn-box > li > a {
  color: #e60012;
  display: block;
  padding: .17rem .37rem .17rem .39rem;
  border: 1px solid #e60012;
  border-radius: .04rem;
}
.yd-service-intros .yd-nav-tabs {
  position: relative;
  /*.yd-nav-indicator{
      position: absolute;
      bottom:0;
      width: 33.3333333%;
      height: .03rem;
      background-color: #e60012;
    }*/
}
.yd-service-intros .yd-nav-tabs li {
  float: left;
  padding-top: .37rem;
  padding-bottom: .14rem;
  width: 33.3333333%;
  border-bottom: .03rem solid transparent;
  text-align: center;
}
.yd-service-intros .yd-nav-tabs li.yd-active {
  border-color: #e60012;
}
.yd-service-intros .yd-nav-tabs li a {
  font-size: .26rem;
  color: #555;
}
.yd-service-intros .yd-tab-content {
  padding: .21rem 0 .1rem;
  margin-bottom: 1rem;
}
.yd-service-description {
  padding: 0 0.1rem;
}
.yd-service-description > p {
  font-size: .23rem;
  color: #414141;
  text-indent: 2em;
  line-height: 1.435;
  text-align: justify;
}
.yd-service-description > p:not(:last-child) {
  margin-bottom: .45rem;
}
.yd-fees-scale {
  padding-bottom: .3rem;
}
.yd-fees-scale > img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.yd-footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  background-color: #ffffff;
}
.yd-footer li:not(:last-child) {
  float: left;
  height: .8rem;
  width: 14.479166667%;
}
.yd-footer li:not(:last-child) a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: .4rem;
  color: #555;
  font-size: .2rem;
  line-height: .4rem;
  text-align: center;
}
.yd-footer li:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.yd-footer li:last-child {
  float: right;
  width: 56.25%;
  line-height: .8rem;
  background: #e60012;
}
.yd-footer li:last-child a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: .26rem;
  color: #fff;
  text-align: center;
}
.yd-icon-qq {
  background: url(../images/nie/icon_qq.png) 50% 0.1rem no-repeat;
  -webkit-background-size: .28rem .29rem;
  background-size: .28rem .29rem;
}
.yd-icon-shop {
  background: url(../images/nie/icon_shop.png) 50% 0.1rem no-repeat;
  -webkit-background-size: .36rem .29rem;
  background-size: .36rem .29rem;
}
.yd-icon-star-empty {
  background: url(../images/nie/icon_star_empty.png) 50% 0.1rem no-repeat;
  -webkit-background-size: .30rem .29rem;
  background-size: .30rem .29rem;
}
.yd-tab-content #panel-2 {
  padding: 0 0.1rem;
  line-height: 0.5rem;
}
.yd-tab-content #panel-2 p {
  color: #555;
  font-size: 0.23rem;
}
.yd-tab-content #panel-3 ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #f1f1f1;
}
.yd-tab-content #panel-3 ul li {
  margin-bottom: 0.22rem;
  height: auto;
  padding: 0.2rem 0.1rem;
  background: #fff;
}
.yd-tab-content #panel-3 ul li .yd-sell {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.yd-tab-content #panel-3 ul li .yd-sell .yd-sell-img {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.22rem;
  float: left;
}
.yd-tab-content #panel-3 ul li .yd-sell .yd-sell-img img {
  width: 0.5rem;
  height: 0.5rem;
  float: left;
}
.yd-tab-content #panel-3 ul li .yd-sell span {
  color: #555;
  font-size: 0.23rem;
  float: left;
  line-height: 0.5rem;
}
.yd-tab-content #panel-3 ul li .yd-sell-date {
  margin: 0.2rem 0;
  color: #9c9c9c;
  font-size: 0.23rem;
  float: left;
  width: 100%;
}
.yd-tab-content #panel-3 ul li .yd-sell-say {
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #555;
  font-size: 0.2rem;
}
