*{
	font-family: "微软雅黑"
}
.nav_con{
	width: 1180px;
}
.banner_bigbox{
	height: 376px;
}
.dian{
	left:750px;
}
.dian.dian1{
	left:894px;
}
.banner_right{
	width: 290px;
	height: 376px;
	top:0;
	right:362px;
	background:rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
}
.bwz{
	width: 145px;
	font-size: 24px;
	color:#ffffff;
	margin: 44px auto 0;
}
.bwz1{
	width: 159px;
	height: 162px;
	margin: 30px auto;
	position: relative;

}
.huan{
	transition:all 0.5s;
}
.banner_right:hover .huan{

	transform:rotate(360deg);
}
.qiba{
	width: 100%;
	position: absolute;
	top: 50px;
	font-size: 36px;
	color:#fc505e;
	text-align: center;
	font-weight: bold;
	*margin-left: -158px;
}
.qiba1{
	width: 100%;
	position: absolute;
	top:105px;
	font-size: 14.26px;
	color:#fff;
	text-align: center;
	*margin-left: -158px;
}
.kuaisu{
	color:#fff;
	font-size: 14.26px;
	width: 207px;
	height: 44px;
	background: #575758;
	text-align: center;
	line-height: 44px;
	margin: 0 auto;
	border-radius: 4px;
}
.zhongjian1{
	width: 1180px;
	margin: 20px auto;
	height: auto;
	overflow: hidden;
}
.zhongjian1 img{
	width: 283px;
	height: 153px;
	float: left;
	margin-right: 16px;
	transition:all 0.3s;
}
.zhongjian2{
	width: 1180px;
	margin:0 auto;
	height: 287px;
	background: #fff;
	border:1px solid #E8E8E8;
	overflow: hidden;border-top: 0;
}
.zhongjian2btn{
	height: 52px;
	width: 1180px;
	margin:20px auto 0; 
	border:1px solid #E8E8E8;
	border-bottom:none;
}
.zhongjian1 img:hover{
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
	
}
.chanp{
	height: 51px;
}
.chanp2{
	color:#A4A4A4;
	font-size: 15px;
	margin-left: 30px;
}
.chanp3{
	color:#fff;
	font-size: 12px;
	margin-left: 27px;
	background: red;
	display: inline-block;
	width: 44px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}
.chanp4{
	color:#666666;
	font-size: 14px;
	margin-left: 41px;
}
.zhongjian2btn1{
	width: 131px;
	height: 100%;
	background: #fff;
	border-right:1px solid #E8E8E8;
	text-align: center;
	line-height: 52px;
	color:#ff4933;
	font-size: 16px;
	float: left;
	cursor: pointer;
}
.zhongjian2btn2{
	width: 131px;
	height: 100%;
	text-align: center;
	line-height: 52px;
	color:#494949;
	font-size: 16px;
	float: left;
	cursor: pointer;
}
.zhongjian3{
	width: 1180px;
	height: 70px;
	background: #fff;
	margin: 0 auto;
}
.zhongjian3p{
	border:1px solid #E8E8E8;
	width: 1180px;
	height: 72px;
	margin: 16px auto;
	background: #fff;
}
.peixu{
	height: 100%;
	line-height: 72px;
	float: left;
	margin-left: 44px;
	font-size: 14px;
}
.cbox_con{
	width: 1180px;
	border:1px solid #E8E8E8;
	transition:all 0.3s;
}
.pager{
	width: 141px;
	height: 121px;
	float: left;
}
.pager img{
	width: 100%;
	height: 100%;
}
.zhong.zho{
	margin-left: 40px;
	margin-right:93px;
}
.zhong{
	height: 126px;
}
.yu.yuu{
	float: left;
}
.zhong ul li{
	margin-top: 10px;
	text-align: center;
}
.zhong h1:hover{
	color:#F94539;
}
.jindu img{
	margin-top: 10px;
}
.xiamian{
	height: 60px;
	width: 100%;
	background: #fff;
	border-top: 1px solid #e8e8e8;
	position: relative;
}
.xiamian a{
	width: 88px;
	height: 31px;
	border:1px solid #D7D7D7;
	float: left;
	text-align: center;line-height: 31px;
	border-radius: 20px;
	color:#949494;
	font-size: 13px;
	margin-top: 15px;
	margin-left: 26px;
	cursor: pointer;

}
.xiamian a:hover{
	background: #F94539;
	color:#fff;
}
.xiamianright{
	position: absolute;
	right:0px;
	top:26px;
	font-size: 12px;
	color:#D5D5D5;
}
.shuzi{
	margin-right: 40px
}
.zhongjian3 .input2{
	width: 242px;
	height: 37px;
	outline: none;
	border:1px solid #E9E9E9;
	margin-top: 15px;
	float: right;
	margin-right: 44px;
}
.zhongjian3 .input2 input{
	/*width:163px;*/
	/*height: 37px;*/
	outline: none;
	border:none;
	*border:1px solid #fff;
	float: left;
	padding-left: 30px;
	margin-top:10px;
}
.zhongjian3 a{
	float: right;
}
.zhongjian3 a img{
	height: 39px;
	margin-top: -1px;
}
.cbigbox{
	margin-bottom: 16px;
}
.fenye{
	width: 440px;
	height: 30px;
	margin: 30px auto 0;
}
.footer{
	margin-top: 35px;
}
.fenye a{
	width: 30px;
	height: 29px;
	display: inline-block;
	background: #fff;
	text-align: center;
	line-height: 29px;
	margin-right: 5px;
	border:1px solid #E9E9E9;
	cursor: pointer;
	color:#666;
}
.cbox_con:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform:translate3d(0,-2px,0);
}
.jhstop{
	height: 105px;
	width: 1180px;
	margin: 0 auto;
	overflow: hidden;
}
.jhstops{
	width: 322px;
	height: 35px;
	background: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 13px;
	margin-top: 35px;
	float: left;
	margin-right: 41px;
	cursor: pointer;
	color:#494949;
}
.xiazai{
	width: 100px;
	height: 35px;
	border:1px solid #B6B6B7;
	float: right;
	text-align: center;
	line-height: 35px;
	font-size: 13px;
	color:#494949;
	margin-top: 35px;
	cursor: pointer;
}
.jhsc{
	width: 1180px;
	height: auto;
	overflow: hidden;
	margin:0 auto 150px;
}
.zhezhao{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	position: fixed;
	top: 0;
	z-index: 9999;
}
.email{
	width: 689px;
	height: 370px;
	background: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10000;
}
.emailtop{
	width: 100%;
	height: 30px;
	color:#494949;
	font-size: 24px;
	margin-top: 80px;
	text-align: center;
}
.youx{
	color:red;
	font-size: 30px!important;
	margin-right: 10px;
}
.emailin{
	width: 287px;
	height: 52px;
	border-radius: 6px;
	margin:52px auto 0;
}
.emailin input{
	width: 267px;
	padding-left:20px;
	height: 100%;
	border-radius: 6px;
	outline: none;
	border:1px solid #E8E8E8;
}
.emailin1{
	margin-top: 30px;
	background: #FF4933;
	text-align: center;
	line-height: 52px;
	color:#fff;
	font-size: 15px;
	cursor: pointer;
}
.cha{
	width: 52px;
	height: 49px;
	position: absolute;
	right:0;
	top:0;
	cursor: pointer;
}
.mianbaox{
	height: 38px;
	width: 1180px;
	margin:0 auto;
	color:#999999;
	font-size: 12px;
	line-height: 38px;
}
.mianbaox a{
	color:#999;
}
.mianbaox span{
	margin: 0 20px 0;
}
.section{
	width: 1180px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
.sshowleft{
	width: 813px;
	height: auto;
	overflow: hidden;
	float: left;
}
.sshowlefttop{
	width: 100%;
	height: 512px;
	background: #fff;
}
.sshowlefttop1{
	height: 70px;
	width: 100%;
	border-bottom:1px solid #E8E8E8;
	line-height: 70px;
	overflow: hidden;
}
.sshowlefttop1 div,.sshowlefttop2>div{
	float: left;
}
.sshowleft1{
	margin-left: 22px;
}
.sshowleft1 img{
	margin-top: 18px;
	display: inline-block;
}
.sshowleft2{
	margin-left: 8px;
	display: inline-block;
	font-size: 20px;
	color:#494949;
}
.hunhe{
	width: 58px;
	height: 22px;
	border-radius: 3px;
	border:1px solid #ff4933;
	color:#ff4933;
	text-align: center;
	line-height: 22px;
	margin-left: 30px;
	font-size: 12px;
	margin-top: 25px;
}
.sshowleft3{
	margin-left: 270px;
}
.sshowleft3 img{
	float: left;
	margin-top: 28px;
}
.sshowleft4{
	margin-left: 14px;
	font-size: 12px;
	color:#666666;
}
.sshowleft5{
	margin-left: 55px;

}
.sshowleft5 img{

	margin-top: 25px;

}
.sshowleft6{
	font-size: 12px;
	margin-left: 9px;
	color:#666666;
}
.sshowlefttop2{
	width: 100%;
	height: 88px;
	margin-top: 45px;
}
.sshowleft7{
	width: 242px;
	height: 100%;
	border-right:1px solid #F4F4F4;
	text-align: center;
}
.sshowleft7 div{
	color:#ff4933;
	font-size: 36px;
}
.sshowleft7 p{
	color:#949494;
	font-size: 13px;
	margin-top: 13px;
}
.sshowleft7 span{
	color:#ff4933;
	font-size: 18px;
	margin-top: 13px;
}
.sshowleft8{
	width: 165px;
	height: 100%;
	border-right:1px solid #F4F4F4;
	text-align: center;
	margin-top: 11px;
}
.sshowleft8 .renshou{
	font-size: 20px;
}
.sshowleft9{
	width: 165px;
	height: 100%;
	border-right:1px solid #F4F4F4;
	text-align: center;
	margin-top: 11px;
}
.sshowleft10{
	width: 165px;
	height: 100%;
	margin-top: 17px;
	text-align: center;
}
.sshowleft8 div{
	color:#494949;
	font-size: 14px;
}
.sshowleft8 div span,.sshowleft9 div span{
	font-size: 24px;
}
.sshowleft8 div span,.sshowleft9 div.pret span{
	color:#494949;
	font-size: 24px;
}
.sshowleft8 p.spret{
	margin-top:13px;
}
.sshowleft8 div.pret{
	color:#2dd296;
	font-size: 18px;
	margin-top: -8px;
}
.sshowright1.cright{
	height: 445px;
}
.sshowleft9 div{
	color:#494949;
	font-size: 14px;
}
.sshowleft10 div{
	color:#494949;
	font-size: 18px;
}
.sshowleft100{
	border-right:none;
}
.sshowleft8 p,.sshowleft9 p,.sshowleft10 p{
	color:#949494;
	font-size: 13px;
	margin-top: 22px;
}
.sshowlefttop3{
	width: 100%;
	height: 40px;
	margin-top: 44px;
}
.sshowleft11>div{
	width: 146px;
	height: 40px;
	border-radius: 6px;
	outline: none;
	border:1px solid #D4D4D4;
	float: left;
}
.sshowleft11>span{
	margin-left: 64px;
	color: #949494;
	font-size: 14px;
	float: left;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.sshowleft11>div{
	margin-left: 19px;
	color: #949494;
	font-size: 14px;
}
.input input{
	outline: none;
	border:0;
	width: 88px;
	/*height: 40px;*/
	padding-left: 8px;
	margin-top: 8%;
}
.sshowleft12{
	float: left;
}
.sshowleft12>span{
	margin-left: 51px;
	color: #949494;
	font-size: 14px;
	float: left;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.sshowleft12 select{
	width: 146px;
	height: 40px;
	margin-left: 19px;
	border-radius: 6px;
	outline: none;
	border:1px solid #D4D4D4;
	padding:0 18px;
	color:#494949;
	*margin-top: 8px;
}
.sshowleft13{
	float: left;
	margin-left: 47px;
	height: 40px;
	line-height: 40px;
	color:#949494;
	font-size: 14px;
}
.shier{
	color:#ff4933;
	font-size: 24px;
}
.sshowlefttop4{
	width: 730px;
	margin:42px auto;
	border-top: 1px solid #E8E8E8;
	height:auto;
}
.sshowleft14{
	height: 112px;
	width: 214px;
	text-align: center;
	margin-top: 38px;
	float: left;
	border-right:1px solid #F4F4F4;
}
.sshowleft14 div{
	color:#949494;
	font-size: 13px;
}
.sshowleft15{
	margin: 38px 0 0 64px;
	height: 112px;
	line-height: 37px;
	font-size: 14px;
	color:#666;
	float: left;
}
.sshowleft15 span{
	color:#FF4933;
}
.sshowleftbottom{
	width: 813px;
	height: auto;
	overflow: hidden;
	margin-top: 13px;
	background: #fff;
	padding-bottom: 55px;
	position: relative;
}
.sshowleftbottom .shua{
	position: absolute;
	top:58px;
	left:28px;
	width:70px;
	height: 3px;
	background: #ff4933; 
}
.sshowleftbs1{
	width: 100%;
	height: 59px;
	border-bottom:1px solid #EBEBEB;
}
.sshowleftbs1 span{
	width: 126px;
	height: 100%;
	display: inline-block;
	text-align: center;
	line-height: 59px;
	color:#494949;
	font-size: 16px;
	cursor: pointer;
}
.sshowleftbottom .table{
	width: 761px;
	margin: 32px 0 32px 27px;
	color:#494949;
	font-size: 12px;
	border-left:1px solid #E6E6E6;
	border-top:1px solid #E6E6E6;
}
.sshowleftbottom .table div{
	height: 55px;
	font-size: 0;
}
.sshowleftbottom .table div.liu{
	height: 108px;
}
.sshowleftbottom .table span{
	height: 55px;
	display: inline-block;
	text-align: center;
	border-bottom:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
	line-height: 55px;
	font-size: 12px;
}
.sshowleftbottom .table span:first-child,.sshowleftbottom .table span.tchan{
	height: 54px;
	width: 115px;
	background: #F8F8F8;
	color:#949494;
}
.sshowleftbottom .table span.ttr{
	height:108px;
	float: left;
	line-height: 108px;
}
.sshowleftbottom .table span.txint{
	height: 54px;
	width: 225px;
	text-align: left;
	padding-left: 38px;
}
.sshowleftbottom .table span.txint.ttxin {
    height: 108px;
    width: 603px;
    text-align: left;
    padding-left: 38px;
    line-height: 35px;
}
.sshowleftbottom .table span.tmonth{
	height: 54px;
	width: 226px;
	text-align: left;
	padding-left: 35px;
}
.sshowleftbs2{
	height: 43px;
	width: 742px;
	margin:0 auto;
	border-bottom:1px solid #E8E8E8;
	position: relative;
}
.sshowleftbs2 div{
	color:#494949;
	font-size: 16px;
	display: inline-block;
	position: absolute;
	top:2px;
	left:31px;
	height: 100%;
	line-height: 21px;
}
.sshowleftbs3{
	line-height: 27px;
	height: auto;
	width: 730px;
	margin: 18px auto 43px;
	color:#949494;
	font-size: 13px;
	text-align: justify;
	overflow: hidden;
}
.sshowleftbs4{
	width: 404px;
	height: 76px;
	border-radius: 4px;
	border:1px solid #E9E9E9;
	float: left;
	margin-top: 4px;
}
.sshowleftbs4>div{
	width: 100px;
	height: 56px;
	border-right:1px solid #E6E6E6;
	text-align: center;
	margin-top: 11px;
	float: left;

}
.sshowleftbs4>p{
	float: left;
	font-size: 21px;
	color:#666666;
	font-weight: bold;
	text-align: center;
	width: 300px;
	height: 75px;
	line-height: 75px;
}
.sshowleftbs5{
	float: left;
	margin-left: 42px;
}
.sshowright{
	width: 355px;height: auto;

	float: left;
	margin-left: 12px;
}
.sshowright1{
	width: 100%;
	height: 512px;
	background: #fff;
	
}
.sshowrighta{
	width: 100%;
	height: 70px;
	line-height: 70px;
	font-size: 16px;
	color:#494949;
	position: relative;
}
.sshowrighta img{
	position: absolute;
	left:34px;
	top:23px;
}
.sshowrighta span{
	position: absolute;
	left:68px;
	top:0px;

}
.sshowrightb{
	width: 266px;
	height: 51px;
	border-radius: 4px;
	margin: 18px auto;
	outline: none;
	border:1px solid #E8E8E8;
	display: block;
	padding-left: 19px;
}
.sselect{
	width: 290px;
	height: 51px;
	*height:51px;
	border-radius: 4px;
	margin: 18px auto;
	outline: none;
	border:1px solid #E8E8E8;
	display: block;
	padding-left: 19px; 
}
.sshowrightc{
	width: 285px;
	border:0;
	background: #FF4933;
	text-align: center;
	padding:0;
	color:#fff;
	line-height: 51px;
	margin-top: 30px;
	margin-bottom: 15px;
}
.sshowrightd{
	width: 100%;
	height: 97px;
}
.sshowrightd a{
	float: left;
	border-bottom:1px solid #F2F2F2;
	border-top:1px solid #F2F2F2;
	border-right:1px solid #F2F2F2;
	width: 33%;
	height: 97px;
	text-align: center;
	color:#494949;
	font-size: 12px;
}
.sshowrightd a img{
	margin-top: 19px;
	margin-bottom: 5px;
}
.sshowrighte{
	position: relative;
	top:16px;
	left:70px;
}
.sshowright2{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-top: 13px;
	font-size: 0;
	
}
.sshowrightf{
	height: 100px;
	width: 100%;
	border-bottom:1px solid #F3F3F3;
	position: relative;
}
.sshowrightfimg{
	width: 109px;
	height: 100px;
	float: left;
	text-align: center;
}
.sshowrightfimg2{
	
	height: 100px;
	float: left;
}
.sshowrightfimg2 div{
	color:#494949;
	font-size: 16px;
	margin-top: 27px;
}
.sshowrightfimg2 p{
	color:#949494;
	font-size: 12px;
	margin-top: 10px;
}
.sshowrightfimg2 a{
	position: absolute;
	right:37px;
	top:40px;
}
.sshowright3{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-top: 13px;
}
.sshowrightg{
	height: 57px;
	width: 319px;
	margin: 0 auto;
	border-bottom:1px solid #E6E6E6;
}
.sshowrightg1{
	display: inline-block;
	width: 65px;
	height: 100%;
	line-height: 57px;
	text-align: center;
	color:#494949;
	font-size: 16px;
	border-bottom:2px solid #fb594e;
}
.sshowrightg2{
	display: inline-block;
	width: 45px;
	height: 100%;
	line-height: 57px;
	text-align: center;
	color:#fb594e;
	font-size: 14px;
	float: right;
	
}
.sshowrighth{
	width: 100%;
	height: 224px;
	overflow: hidden;
	position: absolute;
}
.guishu1{
	width: 100%;
	margin-left: 80px;
	margin-top: 38px;
	color:#494949;
	font-size: 16px;
}
.guishu2{
	width: 100%;
	margin-left: 80px;
	margin-top: 24px;
	color:#949494;
	font-size: 14px;
}
.guishu2 span{
	margin-right: 21px;
}
.guishu3{
	margin-left: 80px;
	margin-top: 4px;
	color:#949494;
	font-size: 14px;
}
.guishu3 span{
	color:#fb594e;
	font-size: 28px;
	margin-left: 15px;
}
.sshowrighthp{
	position: relative;
	width: 100%;
	height: 225px;
	overflow: hidden;
}
.sshowrighth a{
	width: 100px;
	height: 39px;
	border:0;
	background: #F25B48;
	outline: none;
	border-radius: 4px;
	color:#fff;
	margin:20px 0 0 118px;
	display: inline-block;
	text-align: center;line-height: 39px;

}
.anniu{
	width: 100%;
	position: absolute;
	top:50%;
	margin-top: -20px;
}
.anniuleft{
	float: left;
	cursor: pointer;
	margin-left: 5px;
}
.anniuright{
	float: right;
	cursor: pointer;
	margin-right: 5px;
}
.anniuleft img{
	width: 40px;
	height: 40px;

}
.sshowright4{
	height: 30px;
	width: 317px;
	background: #F8F8F8;
	margin: 11px auto 0;
}
.sshowright4{
	color:#949494;
	font-size: 13px;
}
.sshowright4 span{
	display: inline-block;
	width: 25%;
	height: 100%;
	line-height: 30px;
	text-align: center;
}
.sshowright5{
	color:#494949;
	font-size: 13px;
	height: 60px;
	width: 317px;
	border-top:1px solid #E8E8E8;
	margin:0 auto;
}
.sshowright5 span{
	display: inline-block;
	width: 25%;
	/*height: 60px;*/
	line-height: 60px;
	text-align: center;
}
.sshowright5 span:nth-of-type(2){
	color:#FF4933;
}
.sshowright5 span a{
	display: inline-block;
	width: 44px;
	height: 20px;
	border-radius: 4px;
	background: #FF4933;
	color:#fff;
	vertical-align: middle;
	line-height: 20px;
}

.sshowleft111{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #ff4933;
	line-height: 28px;
	color:#fff;
	text-align: center;
	font-size: 12px;
	margin: 22px 0 0 22px;
}


#dropdown{width:186px; margin:100px auto; position:relative}
.input_select{width:150px; height:24px; line-height:24px; padding-left:4px; padding-right:30px; border:1px solid #a9c9e2; background:#e8f5fe url(arrow.gif) no-repeat rightright 4px; color:#807a62; }
#dropdown ul{width:184px; background:#e8f5fe; margin-top:2px; border:1px solid #a9c9e2; position:absolute; display:none}
#dropdown ul li{height:24px; line-height:24px; text-indent:10px}
#dropdown ul li a{display:block; height:24px; color:#807a62; text-decoration:none}
#dropdown ul li a:hover{background:#c6dbfc; color:#369}
#result{margin-top:10px;text-align:center}