@charset "utf-8";
.second-banner {
  background: none;
}
.banner-3 {
  float: left;
  width: 760px;
  margin-left: 220px;
  position: relative;
  margin-top: 10px;
}
.banner-3 .block_home_slider {
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}
.banner-3 .block_home_slider .slide {
  position: relative;
}
.banner-3 .block_home_slider .flex-viewport {
  height: auto;
}
.banner-3 .block_home_slider .caption p {
  color: #dedede;
  font-size: 11px;
  line-height: 17px;
  padding-bottom: 0;
}
.banner-3 .block_home_slider p.title {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  padding-bottom: 6px;
}
.banner-3 .flex-control-paging {
  display: inline-block;
  padding-top: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 760px;
  margin-left: -380px;
  text-align: right;
}
.banner-3 .flex-control-paging li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  margin: 0px 4px;
}
.banner-3 .flex-control-paging li a {
  cursor: pointer;
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  text-indent: -9000px;
  background: #96979a;
  font-size: 0;
}
.banner-3 .flex-control-paging li a.flex-active {
  background: #ff6427;
}
.banner-3 .block_home_post_feature {
  width: 300px;
}
.banner-3 .block_home_post_feature p {
  padding-bottom: 0;
}
.banner-3 .block_home_slider .flexslider {
  margin: 0;
  padding: 0;
}
.banner-3 .block_home_slider .flexslider > li {
  display: none;
  list-style-type: none;
}
.banner-3 .block_home_slider .flexslider img {
  display: block;
  width: 100%;
  vertical-align: bottom;
}
.banner-3 .block_home_slider .flex-pauseplay span {
  text-transform: capitalize;
}
.banner-3 .flex-direction-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 760px;
  margin-left: -380px;
  height: 52px;
  margin-top: -26px;
}
.banner-3 .flex-direction-nav li a {
  display: block;
  width: 36px;
  height: 52px;
  line-height: 54px;
  background: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20000000', endColorstr='#20000000');
  color: #fff;
  font-size: 34px;
  overflow: hidden;
  text-align: center;
  font-family: "simsun";
}
.banner-3 .flex-direction-nav li a.flex-prev {
  float: left;
}
.banner-3 .flex-direction-nav li a.flex-next {
  float: right;
}
.banner-3 .flex-direction-nav li a:hover {
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50000000', endColorstr='#50000000');
}
.banner-3 img {
  vertical-align: bottom;
  width: 100%;
  height: 338px;
}
.second-banner .right-section {
  width: 250px;
  float: right;
  margin-top: 10px;
}
.second-banner .right-section .release {
  height: auto;
  overflow: hidden;
  background: #eee;
  border: 1px solid #e4e4e4;
  padding: 10px;
}
.second-banner .right-section .release .content {
  background: #fff;
  padding: 20px;
  height: auto;
  overflow: hidden;
}
.second-banner .right-section .release .content h2 {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  background: url(../images/icon_yjt_01.png) no-repeat right 12px;
}
.second-banner .right-section .release .content h2 a {
  font-size: 18px;
}
.second-banner .right-section .release .content .link {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  font-size: 0px;
}
.second-banner .right-section .release .content .link a {
  color: #999;
  font-size: 14px;
  margin-right: 5px;
}
.second-banner .right-section .release .content .link a:hover {
  color: #ff4a01;
}
.second-banner .right-section .bulletin {
  height: auto;
  overflow: hidden;
  background: #eee;
  border: 1px solid #e4e4e4;
  padding: 10px;
  margin-top: 10px;
}
.second-banner .right-section .bulletin .content {
  background: #fff;
  padding: 0px 15px;
  height: auto;
  overflow: hidden;
}
.second-banner .right-section .bulletin .content .title {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  border-bottom: 1px dashed #e4e4e4;
}
.second-banner .right-section .bulletin .content .title span {
  float: left;
  font-size: 16px;
}
.second-banner .right-section .bulletin .content .title a {
  float: right;
  font-size: 12px;
  color: #999;
}
.second-banner .right-section .bulletin .content .title a:hover {
  color: #ff4a01;
}
.second-banner .right-section .bulletin .content .arc-list {
  height: auto;
  overflow: hidden;
  padding: 10px 0px 13px;
}
.second-banner .right-section .bulletin .content .arc-list ul {
  height: auto;
  overflow: hidden;
}
.second-banner .right-section .bulletin .content .arc-list ul li {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.second-banner .right-section .bulletin .content .arc-list ul li a {
  color: #999;
  font-family: "simsun";
}
.second-banner .right-section .bulletin .content .arc-list ul li strong {
  color: #666;
  margin-right: 5px;
}
.second-banner .right-section .bulletin .content .arc-list ul li a:hover {
  color: #e24d3b;
}
.c2c {
  height: auto;
  overflow: hidden;
}
#container {
  height: auto;
  overflow: hidden;
  margin-bottom: 60px;
}
#container .c2c-recom {
  width: 1240px;
  height: auto;
  overflow: hidden;
  margin: 30px auto 0px;
}
#container .c2c-recom .col-title {
  height: 34px;
  line-height: 34px;
  overflow: hidden;
}
#container .c2c-recom .col-title ul {
  float: left;
  width: 800px;
  height: auto;
  overflow: hidden;
}
#container .c2c-recom .col-title ul li {
  float: left;
  font-size: 16px;
  color: #666;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-right: 30px;
}
#container .c2c-recom .col-title ul li.active {
  color: #ff4a01;
  font-weight: bold;
}
#container .c2c-recom .col-title a {
  float: right;
  font-size: 14px;
  color: #999;
}
#container .c2c-recom .content {
  height: auto;
  overflow: hidden;
}
#container .c2c-recom .content .list {
  height: auto;
  overflow: hidden;
  border: 1px solid #efefef;
}
#container .c2c-recom .content .list ul {
  height: auto;
  overflow: hidden;
  margin-left: -1px;
  width: 99999em;
}
#container .c2c-recom .content .list ul li {
  float: left;
  width: 246.8px;
  border-left: 1px solid #efefef;
  text-align: center;
  padding: 25px 0px;
  height: auto;
  overflow: hidden;
  background: #fff;
}
#container .c2c-recom .content .list ul li .img {
  padding-bottom: 10px;
  height: 160px;
  width: 100%;
  vertical-align: bottom;
  overflow: hidden;
}
#container .c2c-recom .content .list ul li .img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
#container .c2c-recom .content .list ul li .title {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  font-size: 14px;
}
#container .c2c-recom .content .list ul li .intro {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
}
#container .c2c-recom .content .list ul li .price {
  color: #ff4a01;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  margin-top: 4px;
}
#container .section {
  width: 1240px;
  height: auto;
  margin: 30px auto 0px;
}
#container .section .col-title {
  height: 40px;
  line-height: 40px;
}
#container .section .col-title span {
  float: left;
  font-size: 22px;
}
#container .section .col-title ul {
  height: 40px;
  float: right;
}
#container .section .col-title ul li {
  float: left;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  margin-left: 30px;
}
#container .section .col-title ul li a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  font-size: 16px;
  color: #666;
  padding: 6px 0px;
}
#container .section .col-title ul li.active a {
  color: #fb4b01;
  border-bottom: 2px solid #ff4a01;
}
#container .section .list {
  margin-top: 5px;
  height: auto;
  overflow: hidden;
  display: none;
}
#container .section .list ul {
  height: auto;
  overflow: hidden;
  margin-left: -5px;
}
#container .section .list ul li {
  float: left;
  width: 244px;
  margin-left: 5px;
  text-align: center;
  padding: 30px 0px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#container .section .list ul li .img {
  padding-bottom: 10px;
  height: 160px;
  width: 100%;
  vertical-align: bottom;
  overflow: hidden;
}
#container .section .list ul li .img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
#container .section .list ul li .title {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  font-size: 14px;
}
#container .section .list ul li .intro {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
}
#container .section .list ul li .price {
  color: #ff4a01;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  margin-top: 4px;
}
#container .section .list ul li:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  box-shadow: 0px 5px 5px #dadada;
  position: relative;
  z-index: 10;
}
